{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Home-{% block title %}

                {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->

    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{% static 'js/js-jquery.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/base.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">


  </head>

  <body>


  {% block body %}


  {% endblock %}

  <hr>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy;2018 All rights reserved </p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
