{% extends "blogpost/base.html" %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
         style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/blogpost/register/">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>BlogApp</h1>
              <span class="subheading">Welcome to BlogApp! This is free platform that allows anyone to start and develop own blog or follow others stories on various topics.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="home-page" style="text-align:center">
            <span class="subheading"> Please log in to begin.</span>
            <p><a class="btn btn-primary" href="/blogpost/login/">Login</a></p>
          </div>
        </div>
      </div>
    </div>

   <hr>

{% endblock %}
