{% extends "blogpost/base.html" %}

{% block title %}Error {% endblock %}

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
         style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/blogpost/register/">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>BlogApp</h1>
              <span class="subheading"><strong>Oops!</strong> Your login details are invalid!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="home-page" style="text-align:center">
            <span class="subheading">
              <h1>Attempt to enter BlogApp failed.</h1>
              <p>Click <a href="/blogpost/login/">here</a> to login again.</p>
            </span>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
