{% extends "blogpost/base.html" %}

{% block title %}Personal Page{% endblock %}

{% block body %}
{% csrf_token %}


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
         style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="">Home</a>
		<a class="navbar-brand" href="/blogpost/posts/">Posts</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
			<li class="nav-item">
              <a class="nav-link" href="/blogpost/logout/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/personal-page-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Hi there! What's new?</h1>
			</div>
          </div>
        </div>
      </div>
    </header>

	<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="create_post">
		    <h2 class="form-heading" style="text-align: right">Add your story here... </h2>
			  <form class="form_base" action="/blogpost/createpost/" method="post" enctype="multipart/form-data" id="post_form">
			    {% csrf_token %}
				  <label for="textArea" class="col-md-4 control-label" style="margin: 10px">
				    <h4>Title:</h4>
				  </label>
				  <input class="form-control" type="text" name="title" id="title" required>
				  <label for="textArea" class="col-md-4 control-label" style="margin: 10px">
				    <h4>Post:</h4>
				  </label>
				  <input class="form-control" type="text" name="post" id="post" required>
				  <label for="textArea" class="control-label" style="margin: 10px">
					<h4>Image:</h4>
				  </label>
				  <input type="file" name="image" id="image" align="left" >
                  <p style="margin-top: -5px"> *Note that only .png files are supported.</p>
				  <hr>
				  <button type="button" class="btn btn-default float-right" style="height:50px;width:150px" value="Reset"
					  id="clear" >Clear</button>
                  <button type="submit" class="btn btn-primary float-right" id="submit_btn" style="height:50px;width:150px">Add</button>
			  </form>
		  </div>
		</div>
	  </div>

    <!-- List of posts -->
      <div class="posts_list" id="posts_list">{% include 'blogpost/post_load.html' %}</div>

</div>

{% endblock %}
