{% extends "blogpost/base.html" %}

{% load static %}
{% block title %}Login{% endblock %}

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
         style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/blogpost/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/blogpost/register/">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>BlogApp Login</h1>
              <span class="subheading">Please fill in the form below to complete login process.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <div class="home-login">
            <span class="subheading">
              <form action="/blogpost/auth/" method="post" class="form-signin">
                  {% csrf_token %}
        	    <input type="text" class="form-control" placeholder="Username" name="username" autofocus>
                  <p></p>
        	    <input type="password" class="form-control" name="password" placeholder="Password">
                  <p></p>
        	    <label class="checkbox">
          		    <input type="checkbox" value="remember-me" style="margin: 10px"> Remember me
        	    </label>
        	    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin: 10px">Sign in</button>
              </form>
            </span>
          </div>
        </div>
      </div>
    </div>

        {% endblock %}
