{% extends "blogpost/base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
{% csrf_token %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
         style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/blogpost/loggedin/">Home</a>
		<a class="navbar-brand" href="/blogpost/posts/">Posts</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
			<li class="nav-item">
              <a class="nav-link" href="/blogpost/logout/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/posts-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>DISCOVER, ANALYSE, LEARN</h1>
			</div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container marketing">
    {% for post in posts %}
      <div class="container">
        <div class="post-load" id="post-load">
		  <div class="row">
     		<div class="col-lg-4 col-md-4 form-group">
      		  <img class="img-fluid float-left" src="{{ post.image.url }}" alt="Image not found"/>
      		</div>
			<div class="col-lg-8 col-md-8 form-group" style="text-align:left">
			  <h4>{{ post.title|truncatewords:"12" }}</h4>
			  <p>{{ post.post|truncatewords:"50" }}</p>
			</div>
		  </div>
		</div>
	  </div>
    {% endfor %}
	</div>

{% endblock %}
