
{% for post in posts %}
      <div class="container">
        <div class="post-load" id="post-load">
		  <div class="row">
     		<div class="col-lg-3 col-md-3 form-group">
      		  <img class="img-fluid float-left" src="{{ post.image.url }}" alt="Image not found"/>
      		</div>
			<div class="col-lg-7 col-md-7 form-group" style="text-align:left">
			  <h4>{{ post.title|truncatewords:"12" }}</h4>
			  <p>{{ post.post|truncatewords:"50" }}</p>
			</div>
			<div class="col-lg-2 col-md-2 form-group" style="text-align:right">
			  <a href = "{% url 'delete_posts' pk=post.pk %}">
			    <button type="button" class="btn btn-secondary">Delete</button>
			  </a>
			</div>
		  </div>
		</div>
	  </div>

{% endfor %}