{% extends "blogpost/base.html" %}

{% block title %}Register{% endblock %}

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
         style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/blogpost/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/blogpost/login/">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>BlogApp Registration</h1>
              <span class="subheading">Please fill in the form below to complete registration.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="home-register">
            <span class="subheading">
              <form action="/blogpost/register/" method="post" class="form-horizontal">{% csrf_token %}
       	      {{ form.as_p }}
	 		  <div class="col-lg-10 col-lg-offset-2">
       			<button class="btn btn-default">Cancel</button>
       			<button type="submit" class="btn btn-primary">Submit</button>
			  </div>
              </form>
            </span>
          </div>
        </div>
      </div>
    </div>

{% endblock %}