{% extends "blogpost/base.html" %}

{% block title %}Success{% endblock %}

{% block body %}

   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
                <div class="container">
              <a class="navbar-brand" href="/blogpost/">Home</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/blogpost/register/">Register</a>
                  </li>
                </ul>
              </div>
                </div>
            </nav>
          </div>
          <div class="col-md-4">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </div>
    </nav>

     <div class="container marketing">
       <h2>You have successfully completed the registration!</h2>
       <p>Click <a href="/blogpost/login/">here</a> to login.</p>
     </div>
{% endblock %}